.vscode/
.DS_Store
.pytest_cache/
pytest-cache*/
tests/
*.patch
_archive/
warngen/tools/output/*.json
warngen/tools/output/*.mbtiles*
warngen/tools/output/watch_corpus/
warngen/data/satellite.pmtiles*
